<div class="container">
  <div class="row main-div">
    <div class="col-md-6 subject">
      <p class="text-primary main-subject">facebook management</p>
      <h5>Connect with friends and the world<br>around you on Facebook.</h5>
    </div>
    <div class="col-md-6 ">
      <div class="second-div ">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class=" p-3">
          <h3 class="form-heading">Sign up</h3>
          <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" formControlName="role" required>
              <option value="" disabled selected>Select Role</option>
              <option value="employee">Employee</option>
              <option value="manager">Manager</option>
              <option value="admin">Admin</option>

            </select>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary mt-2" [disabled]="signupForm.invalid">Sign Up</button>
          <p>Already have an account ? <a class="acc-open" routerLink="/signin">Login</a></p>

        </form>
      </div>


    </div>
  </div>
</div>
