<nav class="navbar navbar-expand-lg shadow  ">
  <div class="container-fluid m">
    <a class="navbar-brand" href="#"><span class="text-white">PLM</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item ">
          <a class="nav-link link-size text-white" routerLink="/admin" routerLinkActive="active">Administration Management</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link link-size text-white" routerLink="/project" routerLinkActive="active">Project Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-size text-white" routerLink="/timesheet" routerLinkActive="active">Timesheet Management</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Team</a>
        </li> -->
        <li class="nav-item">
          <div class="btn btn-primary my-btn">
          <a class="nav-link" routerLink="/signin"> <i class="bi bi-box-arrow-in-right " style="margin-right: 4px !important;"></i>logout</a>
          </div>
        </li>

      </ul>

    </div>
  </div>
</nav>
<p>administration works!</p>

